<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize backgroundImages.title}}"/>
    <form class="{{cssClass}}" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/actors/partials/common/actor-header-card.hbs"
                width = 125
                height = 125}}
        <section class="hostile-friendly">
            {{> "systems/tor2e/templates/sheets/actors/partials/common/faction-slider-card.hbs"
                    reference = "system.faction.value"
                    attribute = system.faction}}
        </section>
        <div class="sheet-content">

            <section class="flexrow" id="stats">
                {{> "systems/tor2e/templates/sheets/actors/components/stat-diamond-card.hbs"
                        stat=system.attributeLevel
                        reference="system.attributeLevel.value"}}
                {{> "systems/tor2e/templates/sheets/actors/components/resource-diamond-card.hbs"
                        stat=system.endurance
                        extension-stat=system.endurance
                        extension-stat-value=system.endurance.max
                        reference="system.endurance.value"
                        extension-reference="system.endurance.max"
                        extension-label="tor2e.actors.stats.max"}}
                {{> "systems/tor2e/templates/sheets/actors/components/effects-card.hbs"
                        effects=effects}}
            </section>

            <section class="flexrow" id="traits">
                <div class="flexcol" id="distinctive-features">
                    <h2>{{localize "tor2e.actors.traits.distinctiveFeatures"}}</h2>
                    <ul class="collapsibleList">
                        {{#each distinctiveFeatures as |distinctiveFeature id|}}
                            {{> "systems/tor2e/templates/sheets/actors/partials/common/simple-talent-card.hbs" distinctiveFeature}}
                        {{/each}}
                        {{#each flaws as |flaw id|}}
                            {{> "systems/tor2e/templates/sheets/actors/partials/common/simple-talent-card.hbs" flaw}}
                        {{/each}}
                    </ul>
                </div>
            </section>
            <section class="flexcol" id="relevant-skills">
                <h2>{{localize "tor2e.actors.skills.relevantSkills"}}</h2>
                <ul class="collapsibleList">
                    {{#each skills as |skill id|}}
                        {{> "systems/tor2e/templates/sheets/actors/partials/common/skill-item-card.hbs" skill}}
                    {{/each}}
                </ul>
                <ul class="collapsibleList">
                    {{#each weaponSkills as |weaponSkill id|}}
                        {{> "systems/tor2e/templates/sheets/actors/partials/common/skill-item-card.hbs" weaponSkill}}
                    {{/each}}
                </ul>
            </section>
            <section class="flexcol" id="description">
                <h2 class="toggle">{{localize system.description.label}}</h2>
                <div class="editor-container">
                    {{editor description target="system.description.value" button=true editable=true}}
                </div>
            </section>
        </div>
    </form>
</div>
